
body, html {
    margin : 0px;
    padding: 0px;
}

body {
    text-align: center;
    background : white;
    margin : 0px;
    overflow-x: hidden;
}
#loading {
    width : 35%;
    margin : 0 auto;
}

#loading .a {
    width : 100%;
}

#loading #bar {
    position : relative;
    width : 100%;
    bottom : 0px;
    margin-top: -60px;
}
#outBar {
    top : 0px;
    left : 0px;
    position : absolute;
    width : 100%;
}
#inBarContainer {
    top : 0px;
    left : 0px;
    position : absolute;
    width : 0px;
    position : absolute;
    overflow: hidden;
}

#game {
    display : none;
    width   : 100%;
    height  : 100%;
}

#growth {
    position : absolute;
    width: 50%;
    margin-top: 140px;
    margin-left: -100px;
}
